@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900;
}

.main-background {
    background-color: #111827; /* bg-gray-900 */
    opacity: 1;
    background-image: radial-gradient(#4b5563 /* bg-gray-600 */, #111827 /* bg-gray-900 */ 2px, transparent 2px),
                      radial-gradient(#4b5563 /* bg-gray-600 */, #111827 /* bg-gray-900 */ 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
}
